/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:before,
*::after {
  box-sizing: border-box;
  color: #fff;
}

a {
  outline: none !important;
}

body {
  font-family: 'Montserrat';
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1080px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.header__section {
  padding: 15px 0;
  background-color: #404040;
}
.header__info {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__item:nth-child(2) {
  padding: 0 20px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.header__item:nth-child(3) {
  margin: 0 20px;
}
.header__adress {
  margin: 0 20px;
  max-width: 208px;
  font-size: 12px;
  line-height: 15px;
}
.header__time {
  margin-left: 20px;
  max-width: 104px;
  font-size: 12px;
  line-height: 15px;
}
.header__phone-container {
  max-width: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__phone-container:nth-child(2) {
  margin-left: 20px;
}
.header__phone {
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
.header__btn {
  padding: 15px 55px;
  background-color: #fff;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  transition: .2s ease-in;
}
.header__btn:hover {
  background-color: #f1691a;
  color: #fff;
}

.nav {
  z-index: 2;
  box-shadow: 0px 5px 18px -7px rgba(0, 0, 0, 0.81);
  margin-bottom: -65px;
}
.nav-btn-open {
  display: none;
}
.nav-btn-close {
  display: none;
}
.nav__logo {
  margin: 5px 0;
}
.nav-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__nav-bar {
  display: flex;
}
.nav__link {
  transition: background-color .2s ease-in;
  padding: 25px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover {
  background-color: #f0f0f0;
}

.main {
  background: url(../img/main/main-bg.jpg) no-repeat center;
  background-size: cover;
  margin-top: 65px;
}
.main__wrapper {
  margin: 0 auto;
  padding: 135px 15px;
  text-align: center;
}
.main__title {
  margin: 0 auto 20px;
  max-width: 782px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}
.main__text {
  margin: 0 auto 32px;
  max-width: 745px;
  font-size: 14px;
  line-height: 17px;
}

.btn {
  padding: 20px 85px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 30px;
  background-color: #E05100;
  display: inline-block;
  text-decoration: none;
  transition: .2s ease-in;
}
.btn:hover {
  background-color: #f1691a;
}

.catalog {
  padding: 120px 0;
  text-align: center;
}
.catalog__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #000;
}
.catalog__items {
  margin: 56px auto 72px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min-content;
  justify-content: center;
  column-gap: 30px;
  row-gap: 60px;
}
.catalog__item {
  width: 240px;
  height: 264px;
  background: #FFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: .2s ease-in;
}
.catalog__item:hover {
  background-color: #f5f4f4;
}
.catalog__img {
  height: 80%;
  position: relative;
}
.catalog__pic {
  max-width: 174px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.catalog__subtitle {
  height: 20%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
}
.catalog__btn {
  padding: 20px 60px;
}

.about-us {
  background-color: #404040;
  display: flex;
  align-items: center;
}
.about-us__img {
  max-width: 758px;
}
.about-us__pic {
  height: 100%;
  width: 100%;
}
.about-us__info {
  max-width: 44%;
  padding: 0 15px;
  margin: 0 auto;
}
.about-us__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
}
.about-us__subtitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.about-us__text {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 15px;
}
.about-us__btn {
  padding: 20px 65px;
}

.top-products {
  padding: 120px 0;
}
.top-products__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #000;
}
.top-products__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 17px;
  justify-content: center;
}
.top-products__product {
  display: flex;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.top-products__info {
  padding: 20px;
  width: 330px;
}
.top-products__img {
  height: 213px;
  position: relative;
}
.top-products__pic {
  max-height: 172px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.top-products__info-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.top-products__info-size {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.top-products__info-quantity {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.top-products__info-colors-quantity {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.top-products__info-colors {
  display: flex;
  flex-wrap: wrap;
}
.top-products__info-colors_grey, .top-products__info-colors_red, .top-products__info-colors_peru, .top-products__info-colors_brown, .top-products__info-colors_crimson, .top-products__info-colors_dark-grey, .top-products__info-colors_orange, .top-products__info-colors_dark {
  width: 14.87px;
  height: 16px;
  margin-right: 10px;
}
.top-products__info-colors_grey {
  background: #737373;
}
.top-products__info-colors_red {
  background: #9C0909;
}
.top-products__info-colors_peru {
  background: #D48D37;
}
.top-products__info-colors_brown {
  background: #964B00;
}
.top-products__info-colors_crimson {
  background: #DC143C;
}
.top-products__info-colors_dark-grey {
  background: #49423D;
}
.top-products__info-colors_orange {
  background: #D77D31;
}
.top-products__info-colors_dark {
  background: #000000;
  margin-right: 0;
}
.top-products__prices {
  background-color: #404040;
}
.top-products__prices {
  width: 180px;
  position: relative;
}
.top-products__prices:after {
  content: "";
  width: 69px;
  height: 56px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 30px 0;
  cursor: pointer;
  background: #E05100 url(../img/top-products/svg/add-icon.svg) no-repeat center;
}
.top-products__prices-colors {
  margin-top: 20px;
  margin-left: 23px;
}
.top-products__prices-color {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 18px;
}
.top-products__prices-color:last-child {
  margin-bottom: 0;
}
.top-products__color {
  font-weight: 700;
}

.about-manufacture {
  padding: 120px 0;
  background: #404040;
}
.about-manufacture__title {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}
.about-manufacture__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-manufacture__info {
  width: 328px;
  margin-right: 32px;
}
.about-manufacture__logo-bg {
  padding: 0 38px;
  margin-bottom: 38px;
  background-color: #fff;
  border-radius: 30px;
  width: min-content;
}
.about-manufacture__item {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
}
.about-manufacture__item:last-child {
  margin-bottom: 0;
}
.about-manufacture__item-icon {
  margin-right: 30px;
}
.about-manufacture__item-text {
  max-width: 238px;
  font-size: 14px;
  line-height: 17px;
}
.about-manufacture__video-container {
  width: 100%;
  max-width: 580px;
}
.about-manufacture__video {
  width: 100%;
  padding-top: 56.25%;
  background-color: #ccc;
  position: relative;
}
.about-manufacture__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.our-works {
  padding: 120px 0;
}
.our-works__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}
.our-works__text {
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}
.our-works__photos-container {
  margin: 0 auto 40px;
  width: min-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}
.our-works__photos-container:last-child {
  grid-template-columns: repeat(2, 1fr);
}
.our-works__photo-container {
  width: 330px;
}
.our-works__photo {
  cursor: pointer;
  border-radius: 30px;
  width: 100%;
}

.our-benefits {
  padding: 120px 0;
  background: #404040;
}
.our-benefits__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}
.our-benefits__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 30px;
  row-gap: 50px;
}
.our-benefits__benefit-card {
  padding: 15px 30px 38px;
  max-width: 330px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: transform .2s ease-in;
}
.our-benefits__benefit-card:hover {
  transform: scale(1.025);
}
.our-benefits__pic {
  margin-bottom: 30px;
  text-align: center;
  max-height: 90px;
}
.our-benefits__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.our-benefits__text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.footer {
  padding: 60px 0 30px;
}
.footer__wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__info-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #E05100;
}
.footer__info-subtitle {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.footer__info-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer__info-item:last-child {
  margin-bottom: 0;
}
.footer__info-ico {
  margin-right: 20px;
}
.footer__info-text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.footer__info-tel {
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 95px;
}
.footer__nav-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #E05100;
}
.footer__nav-item {
  margin-bottom: 15px;
}
.footer__nav-link {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
}
.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: center;
}

.none {
  display: none;
}

@media (max-width: 1150px) {
  .header__section {
    display: none;
  }

  .catalog__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-us__title {
    margin-bottom: 15px;
    font-size: 30px;
  }
  .about-us__subtitle {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .about-us__text {
    margin-bottom: 23px;
  }

  .top-products__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-products__prices-color {
    margin-bottom: 10px;
  }
  .top-products__img {
    height: 150px;
  }

  .our-works__photos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1020px) {
  .nav__link {
    padding: 25px 10px;
  }

  .about-us__pic {
    display: none;
  }
  .about-us__info {
    max-width: 70%;
    padding: 50px 0;
  }

  .about-manufacture__info {
    margin-right: 0;
  }
}
@media (max-width: 925px) {
  .about-manufacture__info {
    margin-bottom: 35px;
  }
}
@media (max-width: 870px) {
  .main__title,
  .catalog__title,
  .top-products__title,
  .about-manufacture__title,
  .our-works__title,
  .our-benefits__title {
    font-size: 30px;
    line-height: 35px;
  }

  .nav-btn-open {
    display: block;
  }
  .nav-btn-close {
    display: block;
  }
  .nav__nav-bar {
    display: none;
  }

  .nav__nav-bar {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    padding: 50px 40px;
    transition: all .2s ease-in;
    transform: translateX(100%);
  }
  .nav__nav-bar-active {
    transform: translateX(0);
  }

  .nav-btn-close {
    position: absolute;
    top: 23px;
    right: 15px;
  }

  .nav.open .nav__link {
    font-size: 34px;
    font-weight: 500;
  }

  .main__title {
    margin: 0 auto 10px;
    max-width: 610px;
  }
  .main__text {
    margin: 0 auto 22px;
    max-width: 610px;
  }
  .main__wrapper {
    padding: 80px 15px;
  }

  .catalog {
    padding: 70px 0;
  }
  .catalog__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-products {
    padding: 70px 0;
  }
  .top-products__title {
    margin-bottom: 40px;
  }
  .top-products__container {
    grid-template-columns: repeat(1, 400px);
  }

  .about-manufacture {
    padding: 70px 0;
  }
  .about-manufacture__title {
    margin-bottom: 40px;
  }

  .our-works {
    padding: 70px 0;
  }
  .our-works__title {
    margin-bottom: 40px;
  }
  .our-works__text {
    margin-bottom: 40px;
  }
  .our-works__photo-container {
    max-width: 300px;
  }

  .our-benefits {
    padding: 70px 0;
  }
  .our-benefits__title {
    margin-bottom: 40px;
  }
  .our-benefits__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav {
    column-gap: 50px;
  }
  .footer__info {
    margin-bottom: 20px;
  }
}
@media (max-width: 660px) {
  .main__title,
  .catalog__title,
  .top-products__title,
  .about-manufacture__title,
  .our-works__title,
  .our-benefits__title {
    font-size: 25px;
    line-height: 30px;
  }

  .our-works__photos-container, .our-works__photos-container:last-child {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 540px) {
  .about-us {
    flex-direction: column;
  }
  .about-us__pic {
    display: block;
  }

  .btn {
    padding: 16px 60px;
  }

  .catalog__items {
    margin: 35px auto;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .our-benefits__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .our-benefits__benefit-card {
    max-width: 290px;
  }
  .our-benefits__pic {
    margin-bottom: 20px;
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__info {
    text-align: center;
  }
  .footer__info-ico {
    margin-right: 10px;
  }
  .footer__info-title {
    margin-bottom: 5px;
  }
  .footer__info-subtitle {
    margin-bottom: 5px;
  }
  .footer__info-item {
    margin: 0 auto 5px;
  }
  .footer__nav {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__nav-title {
    margin-bottom: 5px;
  }
  .footer__nav-item {
    margin-bottom: 10px;
  }

  .about-us__btn {
    display: block;
    width: min-content;
    margin: 0 auto;
  }
}
@media (max-width: 460px) {
  .nav.open .nav__link {
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .about-us__info {
    max-width: 85%;
    padding: 30px 0;
  }

  .catalog,
  .top-products,
  .about-manufacture,
  .our-works,
  .our-benefits,
  .footer {
    padding: 40px 0;
  }

  .top-products__container {
    grid-template-columns: repeat(1, 300px);
  }
  .top-products__prices-colors {
    margin-left: 7px;
  }
  .top-products__info-colors_grey, .top-products__info-colors_red, .top-products__info-colors_peru, .top-products__info-colors_brown, .top-products__info-colors_crimson, .top-products__info-colors_dark-grey, .top-products__info-colors_orange, .top-products__info-colors_dark {
    margin-right: 5px;
  }

  .about-manufacture__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-manufacture__logo-bg {
    transform: scale(0.9);
  }
  .about-manufacture__item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
  }
  .about-manufacture__item-icon {
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .main__title,
  .catalog__title,
  .top-products__title,
  .about-manufacture__title,
  .our-works__title,
  .our-benefits__title {
    font-size: 20px;
    line-height: 25px;
  }
}
